
<!-- <a href="http://jsfiddle.net/pevans360/gjz40m6w/1/" target="_blank"  alt="link">Link to standalone HTML</a> -->


<h2>Please Note:</h2>
<p></p>
<p>1/4/19 - This stackblitz was created to illustrate an issue to AddThis tech support.  See readme.txt for full explanation.</p>
<p>1/11/19 - Just figured out the issue.  Hope to update this in the next few days so it's an actual working example. </p>
<br />
<a routerLinkActive="active" 
    routerLink="/firstpage">First</a> |

<a routerLinkActive="active" 
    routerLink="/anotherpage">Another</a> | 
  
<router-outlet></router-outlet>
<br />
<div>
  <span>Footer</span>
  <add-this></add-this>
</div>